.searchInputs{
    display: flex;
    position: relative;
}

.search{
    width: 100%;
}

.search input{
    background-color: white;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    width: 100%;
    z-index: 10;
}

.searchIcon{
    display: grid;
    place-items: center;
    
    width: 10px;
}

input:focus{
    outline: none;
}

.searchIcon svg{
    font-size: 35px;
}

.dataResults{
    position: absolute;
    width: 100%;
    top: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResults::-webkit-scrollbar{
    display: none;
}

.dataResults .dataItem{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}



.button{
    text-decoration: none;
}

.button:hover{
    background-color: lightgray;
}